<a href="https://colab.research.google.com/github/alvas-education-foundation/AbhishekShastry-Courses/blob/master/Day2_Session2_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary

In [18]:
#Add name and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

import operator
n=int(input("Enter no of students: "))
di = {}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    di[name]=mark
print(sorted(di.items(), key=operator.itemgetter(1), reverse=True))

Enter no of students: 3
Enter name 1: ccc
Enter mark 1: 56
Enter name 2: aaa
Enter mark 2: 67
Enter name 3: bbb
Enter mark 3: 88
[('bbb', 88), ('aaa', 67), ('ccc', 56)]

In [22]:
#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

import operator
n=int(input("Enter no of employee: "))
di = {}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    di[name]=sal
print(sorted(di.items(), key=operator.itemgetter(0)))

Enter no of employee: 4
Enter name 1: ccc
Enter salary 1: 34566
Enter name 2: aaa
Enter salary 2: 34543
Enter name 3: ddd
Enter salary 3: 67843
Enter name 4: bbb
Enter salary 4: 85644
[('aaa', 34543), ('bbb', 85644), ('ccc', 34566), ('ddd', 67843)]

In [23]:
#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

import operator
n=int(input("Enter no of employee: "))
di = {}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    di[name]=sal
print(sorted(di.items(), key=operator.itemgetter(1)))
print("Sum of salaries: "+str(sum(di.values())))
print("Max salary: "+str(max(di.values())))
print("Min salary: "+str(min(di.values())))
print("Avg of salaries: "+str(sum(di.values())/len(di.values())))

Enter no of employee: 4
Enter name 1: ccc
Enter salary 1: 35633
Enter name 2: aaa
Enter salary 2: 54634
Enter name 3: bbb
Enter salary 3: 23434
Enter name 4: ddd
Enter salary 4: 75674
[('bbb', 23434), ('ccc', 35633), ('aaa', 54634), ('ddd', 75674)]
Sum of salaries: 189375
Max salary: 75674
Min salary: 23434
Avg of salaries: 47343.75

In [35]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

import operator
n=int(input("Enter no of employee: "))
di = {}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    di[name]=sal
print({n:s for (n,s) in di.items() if 2000 < s <4000})

Enter no of employee: 4
Enter name 1: ddd
Enter salary 1: 2584
Enter name 2: aaa
Enter salary 2: 1234
Enter name 3: ccc
Enter salary 3: 3999
Enter name 4: bbb
Enter salary 4: 2020
{'ddd': 2584, 'ccc': 3999, 'bbb': 2020}

In [43]:
#Python program to convert a 3 digit number  into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if (num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if (num>=100 and num<1000):
  if num%100 == 0:
    print(d[num//100]+" "+d[100])
  elif num%10 == 0:
    print(d[num//100]+ " " + d[100]+ " " +d[num-num//100*100])
  else:
    print(d[num//100]+ " " + d[100]+ " " +d[num-num//100*100-num%10]+ " "+ d[num%10])

Enter the integer between 1 to 999:999
nine hundred ninty nine

Files

In [47]:
#Python Program to count the total number of charaters (except blank space) in a text file.

file = 'drive/My Drive/doc.txt'
num_ch = 0
with open(file, 'r') as f:
  for line in f:
    words = line.split()
    for i in range(len(words)):
      num_ch += len(words[i])
print("Number of characters:")
print(num_ch)

Number of characters:
15

In [66]:
#Python Program to print all the numbers present in a text file with its total number of occurrence.

digit = []
file = 'drive/My Drive/doc.txt'
with open(file, 'r') as f:
  for line in f:
    words = line.split()
    for i in words:
      for letter in i:
        if letter.isdigit():
          digit.append(letter)
output = {x: digit.count(x) for x in set(digit)}
print(output)

{'1': 3, '3': 2, '2': 3, '5': 1, '4': 1}

In [73]:
#Python Program to append the contents of one file to another file 

file1 = 'drive/My Drive/sample1.txt'
file2 = 'drive/My Drive/sample2.txt'

with open(file1,'r') as f:
  with open(file2, "a") as f1:
    for line in f: 
      f1.write(line)

In [75]:
#Python Program to count the number of blank spaces in a text file. 

file = 'drive/My Drive/doc.txt'
num_bl = 0
with open(file, 'r') as f:
  for line in f:
    words = line.split()
    num_bl += len(words)-1
print("Number of Blank spaces:")
print(num_bl)

Number of Blank spaces:
6

In [87]:
#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

file1 = 'drive/My Drive/sample1.txt'
file2 = 'drive/My Drive/sample2.txt'

with open(file1,'r') as f:
  with open(file2, "w") as f1:
    for line in f: 
      l = line.title()
      f1.write(l)

with open(file2, "r") as f1:
  print(f1.read())

Csffcff Sadkfuf Akjsddgv
Hdgd Ajsdh