<a href="https://colab.research.google.com/github/alvas-education-foundation/AbhishekShastry-Courses/blob/master/Day3_Session1_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program for prime number

i=29
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

29 is a prime number

In [ ]:
#Bad unpacking

x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

#Excellent unpacking

a,b,c,d,e=x
print(a, b, c, d, e)

#unpacking some elements

a, *y, e = x
print(a)
print(y)
print(e)

1 2 4 8 16
1 2 4 8 16
1
[2, 4, 8]
16

In [ ]:
#Using Chaining to Write Concise Code

x = 4
print(x >= 2 and x <= 8)

print(2 <= x <= 8)
print(2 <= x <= 3)

True
True
False

In [ ]:
#chained assignments

x = y =  z = 2
print(x, y, z)

2 2 2

In [ ]:
#Checking against None

x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

In [ ]:
#In pythonic way

print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

In [ ]:
#Iterating over Sequences

x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

In [ ]:
#But instead we can do like this in elegant way

for item in x:
  print(item)

1
2
4
8
16

In [ ]:
#to iterate in the reversed order

for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

In [ ]:
#But in elegant way!

for item in x[::-1]:
  print(item)

16
8
4
2
1

In [ ]:
#The Pythonic way is to use reversed to get an iterator that yields the items of a
#sequence in the reversed order:

for item in reversed(x):
  print(item)

16
8
4
2
1

In [ ]:
#Sometimes you need both the items from a sequence and the corresponding indices:

for i in range(len(x)):
  print(i, x[i])

0 1
1 2
2 4
3 8
4 16

In [ ]:
#It’s better to use enumerate to get another iterator that yields the tuples with the indices and items:

for i, item in enumerate(x):
  print(i, item)

0 1
1 2
2 4
3 8
4 16

In [ ]:
#what if you want to iterate over two or more sequences? Of course, you can use the range again:

y = 'abcde'
for i in range(len(x)):
  print(x[i], y[i])

1 a
2 b
4 c
8 d
16 e

In [ ]:
#In this case, Python also offers a better solution. You can apply zip and get tuples of the corresponding items:

for item in zip(x, y):
  print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(8, 'd')
(16, 'e')

In [ ]:
#You can combine it with unpacking:

for x_item, y_item in zip(x, y):
  print(x_item, y_item)

1 a
2 b
4 c
8 d
16 e

In [ ]:
#Dictionary can be iterated in these two ways

z = {'a': 0, 'b': 1}
for k in z:
  print(k, z[k])
print('')

for k, v in z.items():
  print(k, v)

a 0
b 1

a 0
b 1

In [ ]:
#To print only non zero values from tuple x

x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

In [ ]:
#The Pythonic way is to exploit the fact that zero is interpreted as False in a Boolean context, while all other numbers are considered as True:

for item in x:
  if item:
    print(item)

1
2
3
4

In [ ]:
#Avoiding Mutable Optional Arguments

def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))
print(func(value=4))
print(func(value=6))
print(func(value=8))

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]

In [ ]:
#keep away from that with some additional logic

def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=4))

[4]