<a href="https://colab.research.google.com/github/alvas-education-foundation/AbhishekShastry-Courses/blob/master/Day4_Session2_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Example #1

x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
	result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

In [2]:
#only 2 line! it is pythonic

x=[1, 2, 3, 4, 5, 6]
print([(element * 2) for element in x])

[2, 4, 6, 8, 10, 12]

In [4]:
#Example #2

x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = []
for idx in range(len(x)):
	if x[idx] % 2 == 0:
		result.append(x[idx] * 2)
	else:
		result.append(x[idx])
print(result)

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [5]:
#the Pythonic way. The Pythonic way is to combine for and if using list comprehension

x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [14]:
#Example #3 filtering only even numbers

x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = []
for idx in range(len(x)):
  if x[idx] % 2 == 1:
    result.append(idx)
print(result)

[0, 2, 4, 6, 8]

In [12]:
#the Pythonic way.

x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[element * 2 for element in x if element % 2 == 0]

[4, 8, 12, 16, 20]